{% extends 'base2.html.twig' %}

{% block title %}New CategoryFreelance{% endblock %}

{% block body %}
    <h1>Create new CategoryFreelance</h1>

    {{ include('category_freelance/_form.html.twig') }}

    <a href="{{ path('category_freelance_index') }}">back to list</a>
{% endblock %}
