{% extends 'base2.html.twig' %}

{% block title %}Edit CategorieFormation{% endblock %}

{% block body %}
    <h1>Edit CategorieFormation</h1>

    {{ include('categorie_formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_formation_index') }}">back to list</a>

    {{ include('categorie_formation/_delete_form.html.twig') }}
{% endblock %}
