{% extends 'base2.html.twig' %}

{% block title %}Edit PostulerFreelance{% endblock %}

{% block body %}
    <h1>Edit PostulerFreelance</h1>

    {{ include('postuler_freelance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('postuler_freelance_index') }}">back to list</a>

    {{ include('postuler_freelance/_delete_form.html.twig') }}
{% endblock %}
