{% extends 'base.html.twig' %}

{% block title %}profil{% endblock %}

{% block body%}
    <section id="pack" class="packages">


                {% for e in blog %}
                    <div class="col-md-4 col-sm-6">
                        <div class="single-package-item">
                            <img  src="{{ asset('uploads/images/' ~ e.image) }}"   alt="package-place">
                            <div class="single-package-item-txt">
                                <h3>{{ e.title}} <span class="pull-right"></span></h3>
                                <div class="packages-para">
                                    <p>
											<span>
												<i class="fa fa-envelope-o"></i> Description:
											</span>
                                         {{e.description }}
                                    </p>

                                </div><!--/.packages-para-->


                            </div><!--/.single-package-item-txt-->
                        </div><!--/.single-package-item-->

                    </div><!--/.col-->
{% endfor %}


    </section>



{% endblock %}