{% extends 'base2.html.twig' %}

{% block title %}Edit CategorieEmploi{% endblock %}

{% block body %}
    <h1>Edit CategorieEmploi</h1>

    {{ include('categorie_emploi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_emploi_index') }}">back to list</a>

    {{ include('categorie_emploi/_delete_form.html.twig') }}
{% endblock %}
