{% extends 'base2.html.twig' %}

{% block title %}New CategorieEmploi{% endblock %}

{% block body %}
    <h1>Create new CategorieEmploi</h1>

    {{ include('categorie_emploi/_form.html.twig') }}

    <a href="{{ path('categorie_emploi_index') }}">back to list</a>
{% endblock %}
