{% extends 'base.html.twig' %}

{% block title %}profil{% endblock %}

{% block body%}

    <br>
    <div class="gallary-header text-center">
        <h2>
            Nos categories
        </h2>

    </div><!--/.gallery-header-->
    <br><br><br>
    {{ form_start(form) }}







    {{ form_widget(form) }}





    {{ form_end(form) }}
    <div class="col-md-3 col-sm-4" style="margin-left: 120px;">
        <br>
        <br>
        <br><br> <br>
        <br>
        <br><br> <br>




    </div>



{% endblock %}
