{% extends 'base2.html.twig' %}

{% block title %}New Questionnaire{% endblock %}

{% block body %}
    <h1>Create new Questionnaire</h1>

    {{ include('questionnaire/_form.html.twig') }}

    <a href="{{ path('questionnaire_index') }}">back to list</a>
{% endblock %}
